$toneSelected: #08CDFA;
$background: #666;
$borders: #111;

body {
	background-color: $borders;
	--color-light-gray: #{$background} !important;
	color: white;
}

input {
	color: white;
}

.selectors {
	height: 60px;
	display: flex;
	justify-content: center;
	background-color: $background;
	
	@include mobile-only {
		height: 120px;
		flex-direction: column;
	}
	
	button {
		border: 2px solid black;
		overflow: hidden;
		position: relative;
		cursor: pointer;
		position: relative;
		text-decoration: none;
		padding: 10px;
		background-color: transparent;
		color: white;
		outline: none;
		font-size: 16px;
		
		&:hover { text-decoration: none; }	

		span {
			z-index: 20;
		}

		&:after {
			background: #fff;
			content: "";
			height: 155px;
			left: -75px;
			opacity: .2;
			position: absolute;
			top: -50px;
			transform: rotate(35deg);
			transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
			width: 50px;
			z-index: 10;
		}
		
		&:hover {
	
			&:after {
				left: 120%;
				transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
			}
		}
	}
	
	.form-group {
		display: flex;
		align-items: center;
		margin: 0 10px;
		
		&:first-child {
			select {
				@include mobile-only {
					margin: 0 0 10px 0;
				}
			}
		}
		
		@include mobile-only {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		
		label {
			font-size: 18px;
			margin-right: 10px;
			color: white;
			
			@include mobile-only {
				font-size: 16px;
			}
		}
		
		select {
			margin: 5px auto;
			padding: 10px;
			background-color: transparent;
			border: 0;
			font-size: 16px;
			text-align: center;
			width: 150px;
			margin: 10px;
			text-align: right;
			color: white;
			border: 2px solid black;
			outline: 0;
			
			@include mobile-only {
				font-size: 16px;
				width: 200px;
				margin: 0;
			}
			
			option {
				color: black;
			}
		}
	}
}

.sequencer {
	height: 100vh;
	display: flex;
	flex-direction: column;
	
	tone-content {
		--color-teal: #{$toneSelected};
	}
	
	tone-transport {
		height: 100px;
		margin-bottom: 20px;
	}
	
	tone-step-sequencer {
		height: calc(100vh - 160px);
		
		@include mobile-only {
			height: calc(100vh - 220px);
		}
	}
}

#legend {
	width: 150px;
	font-size: 12px;
	position: absolute;
	bottom: 20px;
	left: 20px;
	
	.legend-title {
		font-size: 18px;
	}
	
	.backdrop {
		border: 1px solid black;
		background-color: rgba(255, 255, 255, .4);
		padding: 5px;
		margin-top: 5px;
	}
	
	table {
		width: 100%;
		
		thead {
			
			tr {
				font-weight: bold;
				
				&.divider {
					vertical-align: top;
				}
			}
		}
		
		tr {
			
			&.divider {
				height: 20lrlrpx;
				vertical-align: bottom;
			}
			
			td {
				width: 50%;
				
				
				&:last-of-type {
					text-align: right;
				}
			}
		}
	}
}

#author {
	position: absolute;
	right: 20px;
	top: 20px;
	display: flex;
	font-size: 12px;
	display: none;
	
	.column {
		
		&.description {
			text-align: right;
			padding-right: 10px;
		}
		
		#portrait {
			display: flex;
			border: 1px solid black;
			width: 100px;
		}
	}
}